target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionBackup
pom.xml.next

release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

devdata/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.factorypath
.settings
.vim
.classpath
.vscode
*.log

